/*#game {
  min-height: 500px;
  display: grid;
  grid-template-rows: auto 1fr 1fr 1fr;
  grid-template-columns: auto 1fr 1fr 1fr;
  border-collapse: collapse;
}

#game h3 {
  grid-row: 1 / span 1;
  grid-column: 1 / span 4;
  text-align: center;
  border: 3px solid black;
  border-bottom: none;
  padding: 12px;
  margin: 0px;
}

#game #list-of-category-extensions {
  grid-row: 2 / span 3;
  grid-column: 1 / span 1;
  border: 3px solid black;
  border-right: none;
}

#game #list-of-category-extensions ul {
  padding: 24px;
  padding-top: 0px;
}

#game #time-list {
  grid-row: 2 / span 3;
  grid-column: 2 / span 3;
  border: 3px solid black;
}

.box-styling {
  background-color: white;
  width: 1100px;
}
*/

#game {
  display:grid;
  grid-template-columns: 100px 100px  repeat(6,minmax(90px,1fr));
  grid-template-rows: 100px 100px repeat(6,1fr);
}

#game-info {
  grid-column:1 / span 2;
  grid-row: 1 / span 8;

  border-radius:3px;
}

#game-info img {
  border-radius:3px;
}

#list-of-category-extensions {
  grid-column:3 / span 7;
  grid-row:1 / span 1;
  width:100%;
}

#time-list {
  grid-column:3 / span 7;
  grid-row : 2 / span 7;
}

@media screen and (max-width: 630px) {
  #game {
    grid-template-columns:repeat(6,1fr);
    grid-template-rows:60px repeat(6,1fr);
  }

  #game-info {
    grid-template-columns:1 / span 6;
    grid-template-rows: 1 / span 1;
  }

  #list-of-category-extensions {
    grid-column:1 / span 6;
    grid-row:2 / span 1;
  }

  #time-list {
    grid-column:1 / span 6;
    grid-row: 3 / span 5;
  }

  #game-info .image-container, #game-info #game-admins {
    display:none;
  }


}